html{
  box-sizing: border-box;
}

body{
  background-color: #ccc;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 20px 30px;
  line-height: 1.4;
}

nav{
  text-align: center;
}

a{
  text-decoration:none;
  font-size: 1.1rem;
  background: #ddd;
  text-decoration: none;
  padding: 0.8rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


a:link, a:visited {
  color: #3d4c47;
}

a:hover{
  color:red;
}

h1{
  color: #FF0032;
}

.portfolio{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio img{
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.info{
  background: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 20px;
  padding: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

footer{
  font-size: 8px;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}
